<!-- Header Start -->
<div class="container-fluid bg-primary mb-5">
    <div
      class="d-flex flex-column align-items-center justify-content-center"
      style="min-height: 400px"
    >
      <h3 class="display-3 font-weight-bold text-white">Our Shop</h3>
      <div class="d-inline-flex text-white">
        <p class="m-0"><a class="text-white" href="">Home</a></p>
        <p class="m-0 px-2">/</p>
        <p class="m-0">Our Classes</p>
      </div>
    </div>
  </div>
  <!-- Header End -->

  <!-- Class Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Online Store</span>
        </p>
        <h1 class="mb-4">Our Online Products</h1>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh1.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 1</h4>
              <p class="card-text">
                Description 1
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh2.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 2</h4>
              <p class="card-text">
                Description 2
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh3.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 3</h4>
              <p class="card-text">
                Description 3
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Class End -->
  <!-- Class Start -->
  <div class="container-fluid pt-5">
    <div class="container">
      <!--<div class="text-center pb-2">
        <p class="section-title px-5">
          <span class="px-2">Online Store</span>
        </p>
        <h1 class="mb-4">Our Online Products</h1>
      </div>-->
      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh4.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 1</h4>
              <p class="card-text">
                Description 1
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh5.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 2</h4>
              <p class="card-text">
                Description 2
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="card border-0 bg-light shadow-sm pb-2">
            <img class="card-img-top mb-2" src="assets/bh6.jpg" alt="" />
            <div class="card-body text-center">
              <h4 class="card-title">Products 3</h4>
              <p class="card-text">
                Description 3
              </p>
            </div>
            <div class="card-footer bg-transparent py-4 px-5">
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Brand</strong>
                </div>
                <div class="col-6 py-1">Bulova</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Serial number</strong>
                </div>
                <div class="col-6 py-1">4123324343jbbh</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Model</strong>
                </div>
                <div class="col-6 py-1">Marine Star 2</div>
              </div>
              <div class="row border-bottom">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Warranty</strong>
                </div>
                <div class="col-6 py-1">3 years</div>
              </div>
              <div class="row">
                <div class="col-6 py-1 text-right border-right">
                  <strong>Price</strong>
                </div>
                <div class="col-6 py-1">$890 </div>
              </div>
            </div>
            <a href="" class="btn btn-primary px-4 mx-auto mb-4" routerLink="/contact">Add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Class End -->


 