
<body>
  
    <!-- Header Start -->
    <div class="container-fluid bg-primary px-0 px-md-5 mb-5">
      <div class="row align-items-center px-3">
        <div class="col-lg-6 text-center text-lg-left">
          <br><br><br><h4 class="text-white mb-4 mt-5 mt-lg-0"></h4>
          <h1 class="container">
            Welcome to Buzy Squirrel
          </h1>
          <!--<p class="text-white mb-4">
            Sea ipsum kasd eirmod kasd magna, est sea et diam ipsum est amet sed
            sit. Ipsum dolor no justo dolor et, lorem ut dolor erat dolore sed
            ipsum at ipsum nonumy amet. Clita lorem dolore sed stet et est justo
            dolore.
          </p>-->
          <!--<a href="" class="btn btn-secondary mt-1 py-3 px-5">Learn More</a>-->
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <!---ktu do vendosim logon e kompanise-->
          <br><br><img class="img-fluid mt-5" src="/assets/img/#" alt="" />
        </div>
      </div>
    </div>
    <!-- Header End -->
  
    <!--Start slider-->
    <div class="slider-container" style ="border-radius: 0%;">
      <div class="slides" [style.transition]="'transform ' + slideTransitionDuration + 'ms'" [style.transform]="'translateX(' + (-currentSlideIndex * (slideWidth || 0)) + 'px)'">
        <div *ngFor="let slide of slides" class="slide">
          <img [src]="slide.image" alt="{{ slide.caption }}">
          <div class="caption">{{ slide.caption }}</div>
        </div>
      </div>
    </div>
    
    <!--End slider--->
  
    <!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <img
              class="img-fluid rounded mb-5 mb-lg-0"
              src="assets/bh66.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-7">
            <p class="section-title pr-5">
              <span class="pr-2">Learn About Us</span>
            </p>
            <h1 class="mb-4">Watches for all</h1>
            <p>
              Welcome to Timeless Watches, your premier online destination for high-quality, stylish watches.
              Explore our carefully curated collection of timepieces, ranging from classic to contemporary designs,
              suited for every taste and occasion. Find the perfect watch to elevate your style and enhance your everyday look.
              Discover exceptional craftsmanship and timeless elegance at Timeless Watches.
            </p>
            <div class="row pt-2 pb-4">
              <div class="col-6 col-md-4">
                <img class="img-fluid rounded" src="assets/bh6.jpg" alt="" />
              </div>
              <div class="col-6 col-md-8">
                <ul class="list-inline m-0">
                  <li class="py-2 border-top border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Smartwatches for you 
                  </li>
                  <li class="py-2 border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Chrnogrhapic watches for you
                  </li>
                  <li class="py-2 border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Quartz watches for you
                  </li>
                </ul>
              </div>
            </div>
            <!--<a href="" class="btn btn-primary mt-2 py-2 px-4">Learn More</a>-->
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->
  
   
  
    <!-- Testimonial Start -->
    <div class="container-fluid py-5">
      <div class="container p-0">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">Testimonial</span>
          </p>
          <h1 class="mb-4">What clients say!</h1>
        </div>
        <div class="owl-carousel testimonial-carousel">
          <div class="testimonial-item px-3">
            <div class="bg-light shadow-sm rounded mb-4 p-4">
              <li class="fa fa-quote-left text-primary mr-3" aria-hidden="true"></li>
              I absolutely love the watch I purchased from Timepiece Emporium! The craftsmanship and attention to detail are outstanding,
               and it's the perfect blend of style and functionality.
            </div>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                src="assets/img/testimonial-1.jpg"
                style="width: 70px; height: 70px"
                alt="Image"
              />
              <div class="pl-3">
                <h5>Andrea Hoxhallari</h5>
                <i>Engineer</i>
              </div>
            </div>
          </div>
          <div class="testimonial-item px-3">
            <div class="bg-light shadow-sm rounded mb-4 p-4">
              <li class="fa fa-quote-left text-primary mr-3" aria-hidden="true"></li>
              The diverse range of watches available at Timepiece Emporium ensured I found the perfect match for my taste. 
              The quality is top-notch, and it has become my go-to accessory for any occasion.
            </div>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                src="assets/img/testimonial-2.jpg"
                style="width: 70px; height: 70px"
                alt="Image"
              />
              <div class="pl-3">
                <h5>Mariah Margaret</h5>
                <i>Pilot</i>
              </div>
            </div>
          </div>
          <div class="testimonial-item px-3">
            <div class="bg-light shadow-sm rounded mb-4 p-4">
              <li class="fa fa-quote-left text-primary mr-3" aria-hidden="true"></li>
              The exceptional customer service at Timepiece Emporium made my shopping experience delightful. 
              The team was knowledgeable, patient, and helped me choose a watch that truly suits my lifestyle.
            </div>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                src="assets/img/testimonial-3.jpg"
                style="width: 70px; height: 70px"
                alt="Image"
              />
              <div class="pl-3">
                <h5>Mario Giovani</h5>
                <i>Teacher</i>
              </div>
            </div>
          </div>
          <div class="testimonial-item px-3">
            <div class="bg-light shadow-sm rounded mb-4 p-4">
              <li class="fa fa-quote-left text-primary mr-3" aria-hidden="true"></li>
              I highly recommend Timepiece Emporium for anyone seeking a reliable and stylish timepiece. The packaging was elegant, and the entire process, from selection to delivery, 
              was seamless. I'm a satisfied customer and will definitely be back for more!
            </div>
            <div class="d-flex align-items-center">
              <img
                class="rounded-circle"
                src="assets/img/testimonial-4.jpg"
                style="width: 70px; height: 70px"
                alt="Image"
              />
              <div class="pl-3">
                <h5>Ardit Jonuzi</h5>
                <i>Doctor</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Testimonial End -->
  
    
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top"
      ><i class="fa fa-angle-double-up"></i
    ></a>
  
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
  
    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>
  
    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </body>